{% extends "layout.twig" %}

{% block head_links %}
    {#
    {% for url in entrypoints('beamer', 'css')  %}
        <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    #}
{% endblock %}

{% block body_scripts %}
    {% for url in entrypoints('js')  %}
        <script src="{{ url }}"></script>
    {% endfor %}
{% endblock %}

{% block title %}Beamer - GEPWNAGE LAN{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}

{% block alternate_html %}
<html lang="en" id="beamer">
{% endblock %}
