{% extends "../website.twig" %}

{% set nav_active = 'tournament' %}

{% block website_content %}
    <div class="container mt-4">
        <div class="card" style="width: 40rem">
            <div class="card-header">
                <strong>{{ activity.title }}</strong>
            </div>
            <div class="card-body">
                <p>
                {{ activity.details }}
                </p>
                <p>
                Participants:
                </p>
                <ul>
                    {% for subscription in activity.subscriptions %}
                        <li>{{ subscription.username }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                TODO: React-element to subscribe
            </div>
        </div>

    </div>
{% endblock %}
