{% extends "../website.twig" %}

{% set nav_active = 'schedule' %}

{% block website_content %}
    <div class="container mt-4">
        <div class="card" style="width: 40rem">
            <div class="card-header">
                <strong>{{ activity.title }}</strong>
            </div>
            <div class="card-body">
                <p>
                {{ activity.details }}
                </p>
                {% if activity.can_subscribe == 1 %}
                <p>
                Participants:
                </p>
                <ul>
                    {% for subscription in activity.subscriptions %}
                        <li>{{ subscription.username|e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% if activity.can_subscribe == 1 %}
            <div class="card-footer">
                <form method="post" action="/activity/{{ activity.id }}/subscribe">
                    <div class="form-row">
                        <div class="col-auto">
                            <button class="btn btn-primary">Join</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
