{% extends "../website.twig" %}

{% set nav_active = 'schedule' %}

{% block website_content %}
    <div class="container mt-4">
        {% for activity in activities %}
            <div class="card" style="width: 40rem">
                <div class="card-header">
                    <a href="/activity/{{ activity.id }}">{{ activity.title }}</a>
                </div>
                <div class="card-body">
                    {{ activity.details }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
