{% extends "../website.twig" %}

{% set nav_active = 'shoutbox' %}

{% block website_main %}
    <main class="my-4">
        <div class="container">
            <div id="mount-shoutbox"></div>
        </div>
    </main>
{% endblock %}
