{% extends "../website.twig" %}

{% set nav_active = 'shoutbox' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <div id="mount-shoutbox" class="d-flex flex-column flex-grow-1"></div>
        </div>
    </main>
{% endblock %}
