@import './variables';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;

    font: 16px 'Work Sans', sans-serif;
    color: $text-primary;
}

body {
    height: 100%;
    margin: 0;

    background: $beamer-bg;
}

#root {
    height: 100%;
    padding: $panel-margin;
}
