{% extends "../admin.twig" %}

{% block website_main %}
    <main class="d-flex flex-column flex-grow-1">
        <div class="container">
            <h2>Admin login</h2>

            Login successful
        </div>
    </main>
{% endblock %}
