{% extends "../admin.twig" %}

{% set nav_active = 'welcome' %}

{% block website_main %}
    <main class="d-flex flex-column flex-grow-1">
        <div class="container">
            <h2>Welcome to the admin</h2>
        </div>
    </main>
{% endblock %}
