@import 'styles/custom-bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import 'styles/custom-bootstrap';

@import 'styles/jumbotron';
@import 'styles/navbar';

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Compensate for `position: absolute;` navbar
    padding-top: $navbar-brand-height + ($navbar-brand-padding-y * 2) +
        ($navbar-padding-y * 2);
}
