@import '../variables';

.Panel {
    display: flex;
    flex-direction: column;

    margin: $panel-margin;
    padding: $panel-padding;

    background: $panel-bg;

    &__inner {
        background: red;
    }
}
