@import '../variables';

.Panel {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    margin: $panel-margin;
    padding: (0.75 * $panel-padding) $panel-padding;

    background: $panel-bg;

    &__inner {
    }
}
