
// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;

  background-color: $blue;
  color: $grey;

  font-family: 'Courier 10 Pitch Bold';
}

h1, h2, h3, h4, h5, h6, strong {
  color: $white;
}

/*.container {
  display: flex;
  justify-content: center;
  align-items: center;
}*/

div.centercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table.info {
  td.left {
    padding-right: 1em;
    text-align: right;
  }
  td.right {
    padding-left: 1em;
    text-align: left;
  }
}

div.maininfo {
  margin-top: 2em;
}

form {
  margin-top: 3em;
}

.form-group input {
  width: 32em;
}

.spin-img {
  height: 5vmin;
  animation: logo-spin infinite 3s linear;
  margin-bottom: 4em;
}

header {
  margin-top: 2em;
  margin-bottom: 4em;

  img.logo {
    height: 1.2em;
    margin-right: 0.5em;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
