{% extends "../website.twig" %}

{% set nav_active = 'challenge' %}

{% block website_main %}
    <main class="my-4">
        <div class="container">
            <h4>Challenge GEPWNAGE</h4>

            <p>
                This LAN you can challenge us to beat us in the games we are best at!
            </p>
            <p>
                If you want to challenge someone on this list, simply speak to
                them, and decide together how you determine who is best. If you
                win, you will end up on this list yourself!
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Game</th>
                        <th>Current best</th>
                    </tr>
                </thead>
                <tbody>
                    {% for challenge in challenges %}
                        <tr>
                            <td>{{ challenge.game|e }}</td>
                            <td>{{ challenge.best|e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="card">
                <div class="card-header">
                    Rules
                </div>
                <div class="card-body">
                    <ul>
                        <li>This is not a score attack challenge, you have to show you are better on the spot (and so does the player being challenged).</li>
                        <li>Do not harass the people on this list. You can challenge them, but don't expect them to drop everything immediately. They should be able to enjoy the LAN as well!</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
