{% extends "../website.twig" %}

{% set nav_active = '' %}

{% block website_content %}
    <div class="container mt-4">
        <h1>An error has ocured</h1>
        If this persists on something important, please contact someone from GEPWNAGE.
    </div>
{% endblock %}
