{% extends "../website.twig" %}

{% set nav_active = 'paint' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-3">Multiplayer Paint Timelapse</h4>
            <div id="mount-paint-history" class="d-flex flex-column flex-grow-1"></div>
        </div>
    </main>
{% endblock %}
