{% extends "../website.twig" %}

{% set nav_active = 'paint' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-3">Multiplayer Paint</h4>
            <div id="mount-paint" class="d-flex flex-column flex-grow-1"></div>
            <div class="card mt-2">
                <div class="card-header">
                    Rules
                </div>
                <div class="card-body">
                    <ul>
                        <li>Keep it SFW</li>
                        <li>No company logos</li>
                        <li>Automation is allowed, however do not make more than 30 requests per minute or more than 300 requests per 15 minutes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
