{% extends "../website.twig" %}

{% set nav_active = 'schedule' %}

{% block website_main %}
    <main class="my-4">
        <div class="container">
            <h4 class="mb-3">Schedule</h4>

            <div class="list-group">
                {% for activity in activities %}
                    <div class="list-group-item">
                        <h5>{{ activity.title }}</h5>
                        <p class="mb-0">{{ activity.details }}</p>
                    </div>
                {% endfor %}
                <div class="list-group-item"><pre>
Vrijdag:
15:00 - Start
19:30 - Avondeten
20:00 - Just Dance Competitie
23:00 - Laatste ronde
23:30 - Naar huis :(

Zaterdag:
09:00 - Ontbijt
12:00 - Lunch
14:00 - Smash Competitie
16:00 - Minecraft Competitie (deel 1)
19:00 - Avondeten
20:00 - League of Legends Competitie
23:00 - Laaste ronde
23:30 - Naar huis :(

Zondag:
09:00 - Start
10:00 - Brunch
11:00 - Minecraft Competitie (deel 2)
15:00 - Einde
                </pre></div>
            </div>
        </div>
    </main>
{% endblock %}
