{% extends "../website.twig" %}

{% set nav_active = 'services' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-3">RuneScape</h4>
            <p>
                We are running a 2009scape server on <code>runescape.gepwnage.lan</code>.
            </p>
            <p>
                The easiest way to obtain and launch the client is using the <a target="_blank" href="https://gitlab.com/2009scape/Saradomin-Launcher">Saradomin Launcher</a>.
                Direct download links:
            </p>
            <ul>
                <li><a href="https://gitlab.com/2009scape/Saradomin-Launcher/-/jobs/artifacts/master/raw/Saradomin/2009scape-launcher-sc.exe?job=pack_windows_sc">Windows</a></li>
                <li><a href="https://gitlab.com/2009scape/Saradomin-Launcher/-/jobs/artifacts/master/raw/Saradomin/2009scape-launcher-sc?job=pack_linux_sc">Linux</a></li>
            </ul>
            </p>
            <p>
                After running the launcher at least once, the server needs to be configured.
                Open the <code>config.json</code> file in a text editor:
            </p>
            <ul>
                <li>Windows: <code>C:\Users\&lt;username&gt;\2009scape\config.json</code></li>
                <li>Linux: <code>~/.local/share/2009scape/config.json</code></li>
            </ul>
            <p>
                Replace the address in <code>ip_management</code> and <code>ip_address</code> with <code>runescape.gepwnage.lan</code>
            </p>

            <h4 class="mb-3">Minecraft</h4>
            <p>
                We are running a minecraft server on <code>minecraft.gepwnage.lan</code>.
            </p>
            <p>
                An online map is available <a target="_blank" href="http://minecraft.gepwnage.lan/">here</a>.
            </p>

            <h4 class="mb-3">Counter Strike 2</h4>
            <p>
                We are running a CS2 server on <code>cs2.gepwnage.lan</code>.
            </p>

            <h4 class="mb-3">Factorio</h4>
            <p>
                We are running a factorio server on <code>factorio.gepwnage.lan</code>.
            </p>

            <h4 class="mb-3">RollerCoaster Tycoon 2</h4>
            <p>
                We are running an OpenRCT2 server on <code>openrct2.gepwnage.lan</code>.
            </p>
        </div>
    </main>
{% endblock %}
