{% extends "../website.twig" %}

{% set nav_active = 'services' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-3">Minecraft</h4>
            <p>
                We are running a minecraft server on <code>minecraft.gepwnage.nl</code>.
            </p>
            <p>
                You can also view the map on <a href="https://minecraft.gepwnage.nl">minecraft.gepwnage.nl</a>.
            </p>

            <h4 class="mb-3">Factorio</h4>
            <p>
                We are running a factorio server on <code>factorio.gepwnage.nl</code>.
            </p>

            <h4 class="mb-3">CS:GO</h4>
            <p>
                We are running a CS:GO server on <a href="steam://connect/csgo.gepwnage.nl"><code>csgo.gepwnage.nl</code></a>.
            </p>
        </div>
    </main>
{% endblock %}
