{% extends "../website.twig" %}

{% set nav_active = 'services' %}

{% block website_main %}
    <main class="my-4 d-flex flex-column flex-grow-1">
        <div class="container d-flex flex-column flex-grow-1">
            <h4 class="mb-3">Minecraft</h4>
            <p>
                For the minecraft competition, we are running a minecraft server on <code>minecraft.lan</code>.
            </p>

            <h4 class="mb-3">Counter Strike: Global Offensive</h4>
            <p>
                For the CS:GO competition, we are running a CS:GO server on <code>csgo.lan</code>.
            </p>

            <h4 class="mb-3">Factorio</h4>
            <p>
                We are running a factorio server on <code>factorio.lan</code>.
            </p>

            <h4 class="mb-3">RollerCoaster Tycoon 2</h4>
            <p>
                We are running an OpenRCT2 server on <code>openrct2.lan</code>.
            </p>
        </div>
    </main>
{% endblock %}
