@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


html#beamer {

    height: 100%;

    font: 28px 'Work Sans', sans-serif;
    color: $text-primary;

    *, *::before, *::after {
        box-sizing: border-box;
    }


    body {
        height: 100%;
        margin: 0;

        padding-top: 0;
        line-height: 1.3;
        background: $beamer-bg;
        color: $text-primary;
    }

    #root {
        display: flex;
        height: 100%;
        padding: $panel-margin;
    }

    // Helper classes
    .text-secondary {
        color: $text-secondary;
    }

}
